body {
    background-image: url(../img/pattern.jpg);
    background-repeat: repeat;
    float: center;
}

#logo {
    margin-right: auto;
}

header {
    position: fixed;
    display: flex;
    top: 0;
    margin: 0;
    padding-right: 10;
    background-color: white;
    width: 100%;
}

header ul {
    display: flex;
    padding-right: 20;
    list-style: none;
}

header ul a {
    padding-right: 10px;
}

section {
    background-color: #FFFFFF;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

#article-list {
    background-color: #FFFFFF;
    margin-top: 5px;
}

#article-list div {
    padding: 0 10 0 10;
}

#article-list div p {
    padding-bottom: 20;
    border-bottom: 2px solid #8c8b8b;
}

footer {
    /* padding-left: 15.1875rem; */
    text-align: center;
    background-color: #000; 
}

footer h5 {
    padding: 20px;
    color: #fff;
    /* background: white;  */
}

.label {
    margin-left: 50;
    margin-top: 0;
    margin-bottom: 5;
}

a {
    color: rgb(19, 148, 199);
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px;
}
a:hover {
    text-decoration: underline;
}